/* headercss */
.nav-link {
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.nav-link:hover {
    background-color: hwb(232 4% 47% / 0.389);
    height: 70px;
    color: #4fa6f1;


}

.cart-icon-link {
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.Right__Header div {

    padding: 0 20px;

}

.Right__Header div:hover {
    background-color: hwb(232 4% 47% / 0.389);

}

/* lay out trang account */
.Form__Account {
    padding-top: 20px;
}

.Main__Content_User {
    width: 1400px;
    margin: 0 auto;
}

.Food__Card {
    padding: 0 0 10px 0;
    cursor: default;
}

.Food__Card img {
    cursor: pointer;
}

.Chat__Bot {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);

}

.Avatar__Customer div {
    display: flex;
    justify-content: center;
}