/* headercss */
.nav-link {
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.nav-link:hover {
    background-color: hwb(232 4% 47% / 0.389);
    height: 70px;
    color: #4fa6f1;


}

.cart-icon-link {
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.Right__Header div {

    padding: 0 20px;

}

.Right__Header div:hover {
    background-color: hwb(232 4% 47% / 0.389);

}

/* lay out trang account */
.Form__Account {
    padding-top: 20px;
}

.Main__Content_User {
    width: 1600px;
    margin: 0 auto;
}

.Food__Card {
    padding: 0 0 10px 0;
    cursor: default;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Food__Card img {
    cursor: pointer;
    flex-shrink: 0;
}

.Food__Card .ant-card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Food__Card .ant-card-body p {
    flex: 1;
}

.Food__Card .ant-card-body div {
    flex-shrink: 0;
}

.Chat__Bot {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);

}

.Avatar__Customer div {
    display: flex;
    justify-content: center;
}

input.Input__Filter__Custom {
    font-size: 26px;
    padding: 5px 10px;
}

.Input__Filter__Custom.ant-select.ant-select-lg {
    height: 51px;
}

.BTN__Search button {
    height: 100%;
}

.Input__Filter__Custom div {
    font-size: 25px;
}