/* Bannercss */

@media (max-width: 768px) {
    .ant-card {
        width: 95% !important;
    }
}

.ant-image-img {
    max-height: 100% !important;

}

.ant-card {
    border-radius: 12px !important;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1) !important;
    overflow: hidden !important;
    transition: transform 0.3s ease !important;
}



.ant-btn-circle {
    border: 2px solid !important;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.ant-btn-circle:hover {
    background-color: #000000;
    color: white;
}

/* danh sach */
.ant-card-actions {
    border-top: none !important;
}

.ant-card-actions>li {
    border-right: none !important;
    margin: 0 !important;
}

.ant-card {
    border-radius: 10px !important;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08) !important;
    transition: all 0.3s ease !important;
    overflow: hidden;
}

.food-list:hover {
    outline: 2px solid rgb(64, 118, 209);
    border-radius: 10px !important;

}

.ant-card-meta-title {
    font-size: 16px;
    font-weight: bold;
}

.ant-card-meta-description {
    color: #555;
    font-size: 14px;
}

.Image__Food__Item:hover {
    scale: 1.2;
}

.ant-card-cover {
    overflow: hidden;
}