.Logo__Web__Admin {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Logo__Web__Admin img {
    width: 60px;
    scale: 1.8;
}

.Footer__Table {
    display: flex;
    justify-content: right;
    column-gap: 10px;
}

h1,
h2 {
    margin: 0;
}

.Title__Page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px 0;
}

.Filter__Table {
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.Statistics__Item {
    border: solid 1px #f5f5f5;

    height: 100%;
}

.Statistics__Item .ant-card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Statistics__Item .Item__Top {
    flex: 1;
}

.Item__Top .ant-statistic-title {
    font-size: 20px;
}

.Statistics__Item .Item__Bot {
    margin-top: auto;
    flex-shrink: 0;
}

.Title__Section {
    margin: 10px;
}

.Img__TD {
    position: relative;
    max-height: 100px;
    overflow: hidden;
}

.Img__TD div {
    width: 100%;
    height: 100%;
}