.Logo__Web__Admin {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Logo__Web__Admin img {
    width: 60px;
    scale: 1.8;
}

.Footer__Table {
    display: flex;
    justify-content: right;
}

h1 {
    margin: 0 0 10px 0;
}