/* Ẩn tooltip báo lỗi như "cannot post 404" */
.ant-upload-list-item-container .ant-upload-list-item-error span.ant-upload-list-item-name {
    color: blue !important;
}

span.Upload__Images .ant-upload-list.ant-upload-list-picture .ant-upload-list-item-container .ant-upload-list-item.ant-upload-list-item-error {
    border-color: blue !important;
}

.ant-upload-list-item-container .ant-tooltip {
    display: none;
}